<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Old</td>
                <td><input type="password" name="txt_passwordold" id=""></td>
            </tr>
            <tr>
                <td>New</td>
                <td><input type="password" name="txt_passwordnew" id=""></td>
            </tr>
            <tr>
                <td>ReType</td>
                <td><input type="password" name="txt_passwordore" id=""></td>
            </tr>
           
            <tr>
                <td><input type="submit" value="Change"></td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>